
@{
    ViewBag.Title = "量化选股";
}

<div ng-controller="selectionCtrl">
    <h4>量化选股</h4>
    <table class="table">
        <tr>
            <th>策略</th>
            <th>代码</th>
            <th>名称</th>
        </tr>
        <tr ng-repeat="d in universe">
            <td>{{d.name}}</td>
            <td>{{d.code}}</td>
            <td>{{d.stockname}}</td>
        </tr>
    </table>
</div>


