
@{
    ViewBag.Title = ViewBag.code;
}

<script type="text/javascript">
    var code = '@ViewBag.code';
</script>
<div class="jumbotron-condense jumbotron">
    <div ng-controller="analyzeCtrl">
        <div analysis-detail code="code" type="type"></div>
    </div>
    <div id="container"></div>
</div>





