
@{
    ViewBag.Title = "板块分析";
}

<h4>板块分析</h4>
<table class="table">
    <tr>
        <th>指数</th>
        <th>阶段</th>
        <th>状态</th>
        <th>5分钟</th>
        <th>15分钟</th>
        <th>30分钟</th>
        <th>日K</th>
        <th>周K</th>
        <th>月K</th>
    </tr>
</table>

