@{
    ViewBag.Title = "首页";
}

<div class="jumbotron-condense jumbotron">
    <div class="lead" style="font-size:medium" ng-controller="searchCtrl">
        <span style="font-size:small">
            <a href="" ng-click="select('sh')">上证指数</a>|
            <a href="" ng-click="select('sz')">深圳成指</a>|
            <a href="" ng-click="select('zxb')">中小板指</a>|
            <a href="" ng-click="select('cyb')">创业板指</a>|
            <a href="" ng-click="select('hs300')">沪深300</a>|
            <a href="" ng-click="select('sz50')">上证50</a>|
            <a class="red" ng-repeat="s in hotsectors"  ng-click="select(s.code)">
                {{s.name}}|
            </a>
        </span>
        <input id="querycode"
               type="text"
               kendo-auto-complete k-template="'#= code # | #= name # | #= assettype #'"
               ng-model="searchcode"
               k-data-text-field="'code'"
               k-data-source="basicnames"
               k-on-change="search()" />
        <button class="btn btn-default" ng-click="search()" type="button" name="refresh" title="Refresh"><i class="glyphicon glyphicon-refresh icon-refresh"></i></button>
        <br />
        <br />
        <analysis code="code" show-chart="true"></analysis>
    </div>
</div>