
@{
    ViewBag.Title = "量化策略";
}

<div ng-controller="strategyCtrl">
    <h4>交易信息(最新更新 - {{lastupdate| date:'yyyy-MM-dd HH:mm:ss'}})</h4>
    <table class="table">
        <tr>
            <th>策略</th>
            <th>股票</th>
            <th>日期</th>
            <th>买/卖</th>
            <th>数量</th>
            <th>时间戳</th>
        </tr>
        <tr ng-repeat="trade in trades">
            <td>{{trade.Portflio}}</td>
            <td>{{trade.Stock}}</td>
            <td>{{trade.Date| date:'yyyy-MM-dd'}}</td>
            <td ng-style="{color:trade.Dir=='buy' ? 'red' : 'green'}">{{trade.Dir=='buy' ? '买入' : '卖出'}}</td>
            <td>{{trade.Quantity}}</td>
            <td>{{trade.Ts| date:'yyyy-MM-dd HH:mm:ss'}}</td>
        </tr>
    </table>
</div>

